body {
	background-color:lightgrey;
	background-image: linear-gradient(white 2px, transparent 2px),
		linear-gradient(90deg, white 2px, transparent 2px),
		linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	background-attachment: fixed;
}

.leftMargin{
	background: <img source = "http://zekelong.github.io/portfolio_images/field_trees.png">;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: left;
	float: left;
	width: 15%;
	height: 1000px;
	z-index: 50;
}

.topHeader{
	margin: 0 auto;
	left: 0;
	right: 0;
	position: fixed;
	text-align: center;
	background-color: green;
	opacity: .8;
	width: 90%;	
	box-shadow: 10px 10px 5px grey;
	z-index: 100;
}

.topHeader h1{
	text-align: left;
	padding-left: 8%;
}

.content{
	margin: auto;	
	padding-top: 100px;
	padding-left: 20px; 
	padding-right: 10px;
	width: 70%;
	height: 900px;
	background-color: rgba(255,255,255,.8);
}

